bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
SDL.dll
freetype.dll

crapnet*
config_store*
config_retrieve*
dilate*
fake_server*
map_resave*
map_version*
mastersrv*
packetgen*
teeworlds*
teeworlds_srv*
tileset_border*
twping*
versionsrv*

Debug
lua
rsa
*.txt
*.bat
.cproject
.project
*.dtb
*.log
*.exe
*.res
*.o
*.a
*.so
*.s
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.filters
*.user
*.cmd
.settings
*.opensdf
*.pyc
*.dll
*.db
*.db-journal
*.pdf
*.key

DDNet*
AllTheHaxx*

other/luajit/LuaJIT-2.0.2/src/host/buildvm
other/luajit/LuaJIT-2.0.2/src/host/buildvm_arch.h
other/luajit/LuaJIT-2.0.2/src/host/minilua
other/luajit/LuaJIT-2.0.2/src/jit/vmdef.lua
other/luajit/LuaJIT-2.0.2/src/lj_bcdef.h
other/luajit/LuaJIT-2.0.2/src/lj_ffdef.h
other/luajit/LuaJIT-2.0.2/src/lj_folddef.h
other/luajit/LuaJIT-2.0.2/src/lj_libdef.h
other/luajit/LuaJIT-2.0.2/src/lj_recdef.h
other/luajit/LuaJIT-2.0.2/src/luajit
