/.bam
/config*.lua
datasrc/__pycache__
datasrc/*.pyc
/objs
/lua/
/Lua-Scripts/
/rsa
/src/game/generated
/update/

/confusables*
/crapnet*
/config_store*
/config_retrieve*
/dilate*
/fake_server*
/map_resave*
/map_version*
/mastersrv*
/packetgen*
/serverlaunch*
/tileset_border*
/twping*
/uuid*
/versionsrv*
/dummy_map*
/slc_unpack*
/cdns*
luacert*
lad_maker*
/teeworlds*
/teeworlds_srv*
/serverlaunch_*
/colorcode*
/test_*

/*.dll
/*.a
/*.so
*.txt
*.bat
*.sh
*.dtb
*.log
*.exe
*.res
*.s
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.filters
*.user
*.cmd
*.opensdf
*.db
*.db-journal
*.pdf
*.key

/*.svg
/callgrind.out.*

!CMakeLists.txt

/autoexec.cfg
/storage.cfg

/DDNet*
/AllTheHaxx*

