/.bam
/config.lua
datasrc/__pycache__
datasrc/*.pyc
/objs
/lua/
/rsa
/src/game/generated
/update/

/crapnet*
/config_store*
/config_retrieve*
/dilate*
/fake_server*
/map_resave*
/map_version*
/mastersrv*
/packetgen*
/serverlaunch*
/tileset_border*
/twping*
/versionsrv*
/dummy_map*
/slc_unpack*
/cdns*
luacert*

/*.dll
/*.a
/*.so
*.txt
*.bat
*.sh
*.dtb
*.log
*.exe
*.res
*.o
*.s
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.filters
*.user
*.cmd
*.opensdf
*.pyc
*.db
*.db-journal
*.pdf
*.key

autoexec.cfg

/DDNet*
/AllTheHaxx*

